firebase functions:config:set mailchimp.key="YOUR_MAILCHAMP_API_KEY_HERE" mailchimp.id="YOUR_MAILCHIMP_AUDIENCE_ID_HERE" hubspot.hubspotId = "YOUR_HUBSPOT_ID_HERE" hubspot.hubspotFormIdPrayerRequest = "YOUR_HUBSPOT_FORM_ID_PRAYER_REQUEST_HERE" hubspot.hubspotFormIdRegistration = "YOUR_HUBSPOT_FORM_ID_REGISTRATION_HERE" hubspot.hubspotFormIdBibleStudy = "YOUR_HUBSPOT_FORM_ID_BIBLE_STUDY_HERE" hubspot.hubspotFormIdAskQuestion = "YOUR_HUBSPOT_FORM_ID_ASK_QUESTION_HERE"